@page
@model BankEmployment.Web.Pages.Employee.AddModel
@{
}

<form asp-page-handler="Post">
    <label>Employee Code:</label>
    <input asp-for="Employee.EmployeeCode"/> <br/>
    <label>First Name:</label>
    <input asp-for="Employee.FirstName"/> <br/>
    <label>Last Name:</label>
    <input asp-for="Employee.LastName"/> <br/>
    <label>Address:</label>
    <input asp-for="Employee.Address"/> <br/>
    <label>Date Of Birth:</label>
    <input asp-for="Employee.BirthDate"/> <hr/>
    <button type="submit">Add an employee</button> <hr/>
    <label>@Model.Message</label>
</form>
